<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbs.persistence.mapper.ResourcemsgMapper">
	<resultMap type="com.itbs.persistence.entity.Resourcemsg" id="Resourcemsg">
		<result property="resourceid" column="RESOURCEID" />
		<result property="resourcetype" column="RESOURCETYPE" />
		<result property="resourcename" column="RESOURCENAME" />
		<result property="resourceprice" column="RESOURCEPRICE" />
		<result property="resourcebuydate" column="RESOURCEBUYDATE" />
		<result property="resourceuseyear" column="RESOURCEUSEYEAR" />
		<result property="resourcestatus" column="RESOURCESTATUS" />
		<result property="resourceinfos" column="RESOURCEINFOS" />
		<result property="dutyperson" column="DUTYPERSON" />
				
	</resultMap>
	
	
	<select id="findResourcemsgs" resultMap="Resourcemsg" parameterType="com.itbs.persistence.entity.Resourcemsg">
		select  RESOURCEID
				,RESOURCETYPE
				,RESOURCENAME
				,RESOURCEPRICE
				,RESOURCEBUYDATE
				,RESOURCEUSEYEAR
				,RESOURCESTATUS
				,RESOURCEINFOS
				,DUTYPERSON
						
		   from resourcemsg
		<where>
			<trim prefixOverrides="and" prefix="">
			<if test="resourceid!=null">and  RESOURCEID=#{resourceid}</if>
			<if test="resourcetype!=null">and  RESOURCETYPE=#{resourcetype}</if>
			<if test="resourcename!=null">and  RESOURCENAME=#{resourcename}</if>
			<if test="resourceprice!=null">and  RESOURCEPRICE=#{resourceprice}</if>
			<if test="resourcebuydate!=null">and  RESOURCEBUYDATE=#{resourcebuydate}</if>
			<if test="resourceuseyear!=null">and  RESOURCEUSEYEAR=#{resourceuseyear}</if>
			<if test="resourcestatus!=null">and  RESOURCESTATUS=#{resourcestatus}</if>
			<if test="resourceinfos!=null">and  RESOURCEINFOS=#{resourceinfos}</if>
			<if test="dutyperson!=null">and  DUTYPERSON=#{dutyperson}</if>
						
			</trim>
		</where>
	</select>
	
	
	<select id="loadResourcemsg" resultMap="Resourcemsg" parameterType="com.itbs.persistence.entity.Resourcemsg">
		select *
		 from resourcemsg
		<where>
			<trim prefixOverrides="and" prefix="">
			<if test="resourceid!=null">and  RESOURCEID=#{resourceid}</if>
			<if test="resourcetype!=null">and  RESOURCETYPE=#{resourcetype}</if>
			<if test="resourcename!=null">and  RESOURCENAME=#{resourcename}</if>
			<if test="resourceprice!=null">and  RESOURCEPRICE=#{resourceprice}</if>
			<if test="resourcebuydate!=null">and  RESOURCEBUYDATE=#{resourcebuydate}</if>
			<if test="resourceuseyear!=null">and  RESOURCEUSEYEAR=#{resourceuseyear}</if>
			<if test="resourcestatus!=null">and  RESOURCESTATUS=#{resourcestatus}</if>
			<if test="resourceinfos!=null">and  RESOURCEINFOS=#{resourceinfos}</if>
			<if test="dutyperson!=null">and  DUTYPERSON=#{dutyperson}</if>
						
			</trim>
		</where>
	</select>
	
	
	<select id="getResourcemsgByKey" resultMap="Resourcemsg">
		select *
		  from resourcemsg
		where
			 RESOURCEID=#{resourceid}
						    
	</select>
	
	
	
	<select id="countResourcemsgs" resultType="int" parameterType="com.itbs.persistence.entity.Resourcemsg">
		select count(*)
	      from resourcemsg 
		 <where>
		 <trim prefixOverrides="and" prefix="">
			<if test="resourceid!=null">and  RESOURCEID=#{resourceid}</if>
			<if test="resourcetype!=null">and  RESOURCETYPE=#{resourcetype}</if>
			<if test="resourcename!=null">and  RESOURCENAME=#{resourcename}</if>
			<if test="resourceprice!=null">and  RESOURCEPRICE=#{resourceprice}</if>
			<if test="resourcebuydate!=null">and  RESOURCEBUYDATE=#{resourcebuydate}</if>
			<if test="resourceuseyear!=null">and  RESOURCEUSEYEAR=#{resourceuseyear}</if>
			<if test="resourcestatus!=null">and  RESOURCESTATUS=#{resourcestatus}</if>
			<if test="resourceinfos!=null">and  RESOURCEINFOS=#{resourceinfos}</if>
			<if test="dutyperson!=null">and  DUTYPERSON=#{dutyperson}</if>
						
	    </trim>
		</where>
	</select>
	
	
	<update id="updateResourcemsgByKey" parameterType="com.itbs.persistence.entity.Resourcemsg">
		update resourcemsg 		
		<set>
		<trim suffixOverrides="," suffix="">
								
			<if test="resourcetype!=null"> RESOURCETYPE=#{resourcetype}, </if>					
			<if test="resourcename!=null"> RESOURCENAME=#{resourcename}, </if>					
			<if test="resourceprice!=null"> RESOURCEPRICE=#{resourceprice}, </if>					
			<if test="resourcebuydate!=null"> RESOURCEBUYDATE=#{resourcebuydate}, </if>					
			<if test="resourceuseyear!=null"> RESOURCEUSEYEAR=#{resourceuseyear}, </if>					
			<if test="resourcestatus!=null"> RESOURCESTATUS=#{resourcestatus}, </if>					
			<if test="resourceinfos!=null"> RESOURCEINFOS=#{resourceinfos}, </if>					
			<if test="dutyperson!=null"> DUTYPERSON=#{dutyperson}, </if>		 
	   </trim>
	   </set>		
		<where>
			 RESOURCEID=#{resourceid} 	
		</where>
	</update>	
	
	
	
	<insert id="insertResourcemsgModel" parameterType="com.itbs.persistence.entity.Resourcemsg">
		insert  into resourcemsg
		<trim prefix="(" suffix=")" suffixOverrides="," >
				<if test="resourceid!=null"> RESOURCEID, </if>
				<if test="resourcetype!=null"> RESOURCETYPE, </if>
				<if test="resourcename!=null"> RESOURCENAME, </if>
				<if test="resourceprice!=null"> RESOURCEPRICE, </if>
				<if test="resourcebuydate!=null"> RESOURCEBUYDATE, </if>
				<if test="resourceuseyear!=null"> RESOURCEUSEYEAR, </if>
				<if test="resourcestatus!=null"> RESOURCESTATUS, </if>
				<if test="resourceinfos!=null"> RESOURCEINFOS, </if>
				<if test="dutyperson!=null"> DUTYPERSON, </if>
				
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
				<if test="resourceid!=null"> #{resourceid}, </if>
				<if test="resourcetype!=null"> #{resourcetype}, </if>
				<if test="resourcename!=null"> #{resourcename}, </if>
				<if test="resourceprice!=null"> #{resourceprice}, </if>
				<if test="resourcebuydate!=null"> #{resourcebuydate}, </if>
				<if test="resourceuseyear!=null"> #{resourceuseyear}, </if>
				<if test="resourcestatus!=null"> #{resourcestatus}, </if>
				<if test="resourceinfos!=null"> #{resourceinfos}, </if>
				<if test="dutyperson!=null"> #{dutyperson}, </if>
				
		</trim>
	</insert>
	
	
	
	<insert id="insertResourcemsgMap" parameterType="com.itbs.persistence.entity.Resourcemsg">
		insert  into resourcemsg
		<trim prefix="(" suffix=")" suffixOverrides="," >
				<if test="RESOURCEID!=null"> RESOURCEID, </if>
				<if test="RESOURCETYPE!=null"> RESOURCETYPE, </if>
				<if test="RESOURCENAME!=null"> RESOURCENAME, </if>
				<if test="RESOURCEPRICE!=null"> RESOURCEPRICE, </if>
				<if test="RESOURCEBUYDATE!=null"> RESOURCEBUYDATE, </if>
				<if test="RESOURCEUSEYEAR!=null"> RESOURCEUSEYEAR, </if>
				<if test="RESOURCESTATUS!=null"> RESOURCESTATUS, </if>
				<if test="RESOURCEINFOS!=null"> RESOURCEINFOS, </if>
				<if test="DUTYPERSON!=null"> DUTYPERSON, </if>
				
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
				<if test="RESOURCEID!=null"> #{RESOURCEID}, </if>
				<if test="RESOURCETYPE!=null"> #{RESOURCETYPE}, </if>
				<if test="RESOURCENAME!=null"> #{RESOURCENAME}, </if>
				<if test="RESOURCEPRICE!=null"> #{RESOURCEPRICE}, </if>
				<if test="RESOURCEBUYDATE!=null"> #{RESOURCEBUYDATE}, </if>
				<if test="RESOURCEUSEYEAR!=null"> #{RESOURCEUSEYEAR}, </if>
				<if test="RESOURCESTATUS!=null"> #{RESOURCESTATUS}, </if>
				<if test="RESOURCEINFOS!=null"> #{RESOURCEINFOS}, </if>
				<if test="DUTYPERSON!=null"> #{DUTYPERSON}, </if>
				
		</trim>
	</insert>
	
	
	
	<delete id="deleteResourcemsg" parameterType="com.itbs.persistence.entity.Resourcemsg">
		delete from resourcemsg
		<where>
		<trim prefixOverrides="and" prefix="">
				<if test="resourceid!=null"> and RESOURCEID=#{resourceid} </if>
				<if test="resourcetype!=null"> and RESOURCETYPE=#{resourcetype} </if>
				<if test="resourcename!=null"> and RESOURCENAME=#{resourcename} </if>
				<if test="resourceprice!=null"> and RESOURCEPRICE=#{resourceprice} </if>
				<if test="resourcebuydate!=null"> and RESOURCEBUYDATE=#{resourcebuydate} </if>
				<if test="resourceuseyear!=null"> and RESOURCEUSEYEAR=#{resourceuseyear} </if>
				<if test="resourcestatus!=null"> and RESOURCESTATUS=#{resourcestatus} </if>
				<if test="resourceinfos!=null"> and RESOURCEINFOS=#{resourceinfos} </if>
				<if test="dutyperson!=null"> and DUTYPERSON=#{dutyperson} </if>
				
		</trim>
		</where>
	</delete>
	
	
	
	<delete id="deleteResourcemsgByKey">
		delete from resourcemsg
		where RESOURCEID=#{resourceid}				
	</delete>
	
	
	
	<insert id="insertResourcemsgBatch" parameterType="java.util.List">
		insert  into resourcemsg
		<trim prefix="(" suffix=")" suffixOverrides="," >
				RESOURCEID, 
				RESOURCETYPE, 
				RESOURCENAME, 
				RESOURCEPRICE, 
				RESOURCEBUYDATE, 
				RESOURCEUSEYEAR, 
				RESOURCESTATUS, 
				RESOURCEINFOS, 
				DUTYPERSON, 
				
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator="," >  
        <trim prefix="(" suffix=")" suffixOverrides="," >
                #{item.resourceid},
		        #{item.resourcetype},
		        #{item.resourcename},
		        #{item.resourceprice},
		        #{item.resourcebuydate},
		        #{item.resourceuseyear},
		        #{item.resourcestatus},
		        #{item.resourceinfos},
		        #{item.dutyperson},
				
		</trim>
    	</foreach>  
	</insert>
	
</mapper>